name: Continuous integration
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint repo
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq dos2unix recode
          bash ./format.sh
